{% assign mates = site.data.data.sidebar.mates %}
{% if mates %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    <i class="fas fa-portrait"></i>
    MATES
  </h2>

  <ul class="list-unstyled interests-list">
    {% for mate in mates %}
    <div class="item">
      {% if mate.link %}
      <a href="{{ mate.link }}"><h4>{{ mate.name }}</h4></a>
      {% else %}
      <h4>{{ mate.name }}</h4>
      {% endif %}

      {% if mate.summary %}
      <div class="time">{{ mate.summary }}</div>
      {% endif %}
    </div>
    {% endfor %}
  </ul>

</div><!--//mates-->
{% endif %}
