{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
    <div class="item">
    
      <div class="meta">
        <div class="upper-row">

          {% if project.link %}
          <a href="{{ project.link }}" target="_blank">
          {% endif %}

          <h3 class="project-title">{{ project.title }}</h3>
          
          {% if project.link %}
          </a>
          {% endif %}
          <div class="time">{{ project.time }}</div>
          <div class="company">{{ project.team }}</div>

          {% if project.tagline %}
          <div class="details">
            {{ project.tagline | markdownify }}
          </div>
          {% endif %}
        </div>
      </div>
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
